name: .NET

on:
  push:
    branches: [ "main" ]
    paths:
    - src/**
    - .github/workflows/**
  pull_request:
    branches: [ "main" ]
    paths:
    - src/**
    - .github/workflows/**
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-build --verbosity normal
    - name: Copy Artifacts
      run: |
        mkdir -p ./nuget/
        cp ./src/**/bin/Release/*.nupkg ./nuget/ 2>/dev/null || true
        cp ./src/**/bin/Release/*.snupkg ./nuget/ 2>/dev/null || true
    - uses: actions/upload-artifact@v4
      with:
        name: nuget
        if-no-files-found: error
        retention-days: 7
        path: ./nuget/
